.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid black;
  position: absolute;
  .body {
    background-color: #f2f6f9;
  }
}

.container-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  margin: 20px;
  span {
    font-size: 28px;
    font-weight: 600;
  }
}

.container-body {
  -webkit-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.33);
  margin: 20px auto;
  border-radius: 30px;
  background-color: #fff;
  margin: 20px;

  .box-shadow {
    padding: 30px;
    .box-middle {
      font-size: 28px;
      font-weight: 600;
    }
    .box-bottom {
      font-size: 20px;
      color: #999;
      .variation {
        background-color: rgb(245, 110, 110);
        border-radius: 15px;
        color: #fff;
        font-size: 14px;
        padding: 10px;
      }
    }
  }
}

.card {
  min-width: 90%;
}
.selection-footer div {
  cursor: pointer;
  color: #999;
  margin-right: 10px;
}

.selection-footer div:hover {
  color: #000;
}

.selection-footer div.selected {
  color: #000;
}

.box-top {
  display: flex;
  justify-content: space-between;
  .coin-header-logo {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .logo {
    img {
      width: 40px;
    }
  }
}
.box-bottom {
  display: flex;
  justify-content: space-between;
}
.dropdownarrow {
  display: flex;
  justify-content: center;
}
.selection-time {
  display: flex;
  justify-content: space-around;
}
.selection-time div {
  cursor: pointer;
  padding: 5px 20px;
  margin-right: 10px;
  border-radius: 30px;
  font-weight: 600;
}

.selection-time div:hover {
  background-color: #999;
  color: #fff;
}

.selection-time div.selected {
  background-color: #999;
  color: #fff;
}

.buy-sell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .left{
    margin-right: 10px !important;
  }
  .right{
    margin-left: 10px !important;
  }
  .container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 70px;
    flex-wrap: wrap;
  }
  .container-body > span{
    font-size: 20px;
    font-weight: 500;
    padding-top:10px;
    white-space: nowrap;
  }
}

.container-footer {
  margin-top: 30px;
  background-color: #fff;
  margin: 20px;

  .selection-footer {
    display: flex;
    justify-content: space-around;
  }
}

.high-low-value {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  font-size: 16px;
  font-weight: 500;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
