.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  background-color: aliceblue;
  padding: 20px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.container-body {
  -webkit-box-shadow: 0px 0px 50px -6px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 50px -6px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 50px -6px rgba(0, 0, 0, 0.63);
  margin: 20px auto;
}

.card {
  min-width: 90%;
}

.box-top {
  display: flex;
  justify-content: space-between;
  .coin-header-logo {
    display: flex;
    gap: 5px;
  }
  .logo {
    img {
      width: 30px;
    }
  }
}
.box-bottom{
  display: flex;
  justify-content: space-between;
}
.dropdownarrow{
  display: flex;
  justify-content: center;
}
.selection-time {
  display: flex;
  justify-content: space-around;
}

.buy-sell {
  display: flex;
}

.container-footer {
  .selection-footer {
    display: flex;
    justify-content: space-around;
  }
}

.high-low-value{
  display: flex;
  justify-content: space-around;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}